@import 'bourbon';
@import 'neat';
@import '~normalize.css/normalize.css';
@import '~font-awesome/scss/font-awesome';

$max-width: 1024px !global;
$mobile: new-breakpoint(max-width 640px);
$tablet: new-breakpoint(max-width 1024px min-width 641px);

* {
  box-sizing: border-box;
}

$lightBlue: rgba(108, 248, 252, 1);
$darkGray: rgba(26, 26, 26, 1);
$lightgray: rgba(77, 77, 77, 1);
$transitionMethod: 0.4s ease;


body {
    margin: 0;
    padding: 0;
    @include align-items(center);
    @include justify-content(space-between);
    background-color: $lightgray;
}


// .release-dates-banner {
//     width: 843px;
//     height: 60px;
//     color: $lightBlue;
//     background-color: $darkGray;
//     padding-left: 15px;
//     margin-left: 530px;
//     box-shadow: 8px 8px 8px #000000;
//
//     h1 {
//         padding-top: 10px;
//         font-family: 'Nunito', 'sans-serif';
//         text-transform: uppercase;
//     }
// };

// .login {
//
//     &-container {
//         position: relative;
//     }
// }
//
// input {
//     outline: 0;
//     border: 0;
//     background: green;
//     opacity: .5;
// }

// label {
//     position: absolute;
//     top: 10px;
//     z-index: 2;
//     transition: transform 0.4s ease;
//
//     &.is-focused {
//         top: -30px;
//     }
// }


.Sneaker {
    @include outer-container;

    &-tile {
        display: inline-block;
        width: 23%;
        margin-right: 2%;
        vertical-align: top;
    }

    &-link {

        &-img {
            align-self: center;
            background-repeat: no-repeat;
            background-size: 100%;
            width: 100%;
            padding-top: 60%;
            border-bottom: 5px solid $lightBlue;

            &-info {
                display: inline-block;
                margin-bottom: 20px;
                width: 100%;
                height: 84px;
                padding: 1rem 20px;
                text-align: center;
                color: white;
                background-color: $darkGray;
            }
        }

    }
}


@media screen and (max-width: 800px) {
    .Sneaker {
        width: 100%;
        margin: 0 auto;
        min-width: 0;
        // @include span-columns(3);

        .Sneaker-tile{
            display: block;
            @include span-columns(2);
            margin-left: 70px;

        }
    }
}

//@include span-columns
@media screen and (max-width: 640px) {
    .Sneaker {
        width: 100%;
        margin: 0 auto;
        min-width: 0;
        // @include span-columns(3);

        .Sneaker-tile{
            display: block;
            @include span-columns(4);
            margin-left: 70px;

        }
    }
}


.inv {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: $lightBlue;

    &:hover {
        color: darken($lightBlue,  40%);
    }

}


#header {
    height: 100px;
    width: 1375px;
    margin: 20px auto;
    border-bottom: 5px solid $lightBlue;
    background-color: $darkGray;

        h1 {
            text-align: center;
            color: white;
        }

        span {
            color: $lightBlue;
            font-family: 'Josefin Sans', 'sans-serif';
        }

        @media screen and (max-width: 640px) {
        #header {
            flex-direction: row-reverse;
        }

        #header {
            order: 2;
            flex: 2;
        }

        h1 {
            order: 1;
            width: 570px; /* moves header to left for mobile views */
            padding-top: 25px;
        }

    }
}

.top-bar {
    display: none;
}
